{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        //pura maldade aqui
        "transform-remove-strict-mode"
    ]
}